In [188]:
import pandas as pd
import numpy as np

In [189]:
questions = pd.read_csv('../data/simple_qstats_v2.csv')

In [190]:
questions.head()

   part  tag_lecture  content_id  qstats_count  qstats_answered_correctly
0     1          5.0         100         15386                     0.3536
1     1          5.0       12882           161                     0.3602
2     1          5.0        7859         47486                     0.3812
3     1          5.0         157         33138                     0.5660
4     1          5.0       10426          8606                     0.5681

In [191]:
questions_per_parts = pd.DataFrame(questions.groupby('part')['content_id'].count()).reset_index().set_index('part')

In [192]:
questions_per_parts['ratio %'] = round(questions_per_parts['content_id'] / 13523 * 100, 2)

In [193]:
questions_per_parts

      content_id  ratio %
part
1            992     7.34
2           1647    12.18
3           1562    11.55
4           1439    10.64
5           5511    40.75
6           1212     8.96
7           1160     8.58

In [194]:
def difficulty(question):
    if question < 0.66:
        difficulty = 3
    elif question < 0.83:
        difficulty = 2
    else:
        difficulty = 1
    return difficulty

In [195]:
questions['difficulty'] = questions['qstats_answered_correctly'].apply(difficulty)

In [196]:
questions.head()

,part,tag_lecture,content_id,qstats_count,qstats_answered_correctly,difficulty
0,1,5.0,100,15386,0.3536,3
1,1,5.0,12882,161,0.3602,3
2,1,5.0,7859,47486,0.3812,3
3,1,5.0,157,33138,0.5660,3
4,1,5.0,10426,8606,0.5681,3

In [197]:
questions_per_parts_and_difficulty = pd.DataFrame(questions.groupby(['part','difficulty'])['content_id'].count())

In [198]:
questions_per_parts_and_difficulty['ratio %'] = round(questions_per_parts_and_difficulty['content_id'] / 13523 * 100, 2)

In [199]:
def toeic_questions(df):
    random_n = np.random.randint(0, 13524, 1000)
    return df['content_id'].get(random_n)

In [200]:
toeic_quest = pd.DataFrame(toeic_questions(questions))

In [201]:
toeic_quest = toeic_quest.merge(questions, on="content_id", how="inner")

In [202]:
toeic_quest_nb = pd.DataFrame(toeic_quest.groupby(['part','difficulty'])['content_id'].count())

In [203]:
toeic_quest_nb

                 content_id
part difficulty
1    1                   42
     2                   21
     3                   19
2    1                   27
     2                   67
     3                   31
3    1                   42
     2                   42
     3                   34
4    1                   33
     2                   31
     3                   27
5    1                   60
     2                  170
     3                  165
6    1                   20
     2                   34
     3                   36
7    1                   32
     2                   31
     3                   36

In [204]:
textbook = pd.DataFrame([question for question in questions.content_id if question not in list(toeic_quest['content_id'])])

In [205]:
toeic_quest['content_id'].nunique()

965

In [206]:
textbook.set_axis(['content_id'], axis='columns', inplace=True)

In [207]:
textbook = textbook.merge(questions, on='content_id', how='inner')

In [208]:
textbook_per_parts_and_difficulty = pd.DataFrame(textbook.groupby(['part','difficulty'])['content_id'].count())

In [209]:
textbook_per_parts_and_difficulty['ratio %'] = round(textbook_per_parts_and_difficulty['content_id'] / 12523 * 100, 2)

In [210]:
comparison = pd.DataFrame(questions_per_parts_and_difficulty.merge(textbook_per_parts_and_difficulty, on=['part','difficulty']))

In [211]:
comparison.columns = ['total','ratio_total','textbook','ratio_textbook']

In [212]:
comparison

                 total  ratio_total  textbook  ratio_textbook
part difficulty
1    1             559         4.13       518            4.14
     2             295         2.18       274            2.19
     3             138         1.02       119            0.95
2    1             449         3.32       423            3.38
     2             796         5.89       733            5.85
     3             402         2.97       374            2.99
3    1             553         4.09       511            4.08
     2             591         4.37       550            4.39
     3             418         3.09       384            3.07
4    1             512         3.79       480            3.83
     2             465         3.44       434            3.47
     3             462         3.42       435            3.47
5    1             807         5.97       749            5.98
     2            2306        17.05      2140           17.09
     3            2398        17.73      2238           17.87
6    1             337         2.49       317            2.53
     2             461         3.41       431            3.44
     3             414         3.06       382            3.05
7    1             340         2.51       310            2.48
     2             454         3.36       424            3.39
     3             366         2.71       332            2.65

In [213]:
print('nb questions total :', comparison['total'].sum())
print('nb questions toeic :', toeic_quest['content_id'].nunique())
print('nb questions textbook :', comparison['textbook'].sum())

nb questions total : 13523
nb questions toeic : 965
nb questions textbook : 12558

# Random Textbook

### Selection of random questions equally distributed among each part

In [214]:
def random_sample_sequence(df, n_quest):
    
    questions = pd.DataFrame(df.groupby(['part','content_id','difficulty'])['tag_lecture'].count()).reset_index()
    
    part_1 = questions[questions['part']==1].reset_index()
    part_2 = questions[questions['part']==2].reset_index()
    part_3 = questions[questions['part']==3].reset_index()
    part_4 = questions[questions['part']==4].reset_index()
    part_5 = questions[questions['part']==5].reset_index()
    part_6 = questions[questions['part']==6].reset_index()
    part_7 = questions[questions['part']==7].reset_index()
    
    i_1 = np.random.randint(0, len(part_1), n_quest)
    i_2 = np.random.randint(0, len(part_2), n_quest)
    i_3 = np.random.randint(0, len(part_3), n_quest)
    i_4 = np.random.randint(0, len(part_4), n_quest)
    i_5 = np.random.randint(0, len(part_5), n_quest)
    i_6 = np.random.randint(0, len(part_6), n_quest)
    i_7 = np.random.randint(0, len(part_7), n_quest)
    
    sequence_part = []
    for i in i_1:
        sequence_part.append(part_1.loc[i, 'content_id'])
    
    for i in i_2:
        sequence_part.append(part_2.loc[i, 'content_id'])
        
    for i in i_3:
        sequence_part.append(part_3.loc[i, 'content_id'])    

    for i in i_4:
        sequence_part.append(part_4.loc[i, 'content_id'])
        
    for i in i_5:
        sequence_part.append(part_5.loc[i, 'content_id']) 
        
    for i in i_6:
        sequence_part.append(part_6.loc[i, 'content_id'])
    
    for i in i_7:
        sequence_part.append(part_7.loc[i, 'content_id'])
    
    return np.array(sequence_part)

In [215]:
def get_random_training_path(df, number_of_sequences, n_quest):
    X = []

    for i in range(number_of_sequences):
        xi = random_sample_sequence(df, n_quest)
        X.append(xi)
        
    X = np.array(X)
        
    return X

In [219]:
random_path = get_random_training_path(textbook, 24, 30)

In [221]:
random_path.shape

(24, 210)

In [222]:
sequence_random = pd.DataFrame(random_path.reshape(5040,))

In [223]:
sequence_random.columns = ['content_id']

In [233]:
sequence_random_merged = sequence_random.merge(questions, on="content_id", how='left')

In [234]:
sequence_random_merged

,content_id,part,tag_lecture,qstats_count,qstats_answered_correctly,difficulty
0,12705,1,61.0,194,0.2835,3
1,12766,1,99.0,178,0.9719,1
2,10636,1,9.0,6044,0.8375,1
3,10633,1,130.0,7538,0.8768,1
4,7883,1,178.0,11122,0.9301,1
5,54,1,9.0,9500,0.7114,2
6,12702,1,9.0,179,0.7039,2
7,10618,1,5.0,5645,0.9725,1
8,10559,1,51.0,6324,0.9058,1
9,10665,1,104.0,5982,0.9285,1
10,7893,1,104.0,11203,0.5159,3
11,7925,1,9.0,6593,0.8674,1
12,10633,1,130.0,7538,0.8768,1
13,10587,1,93.0,5681,0.9817,1
14,12745,1,111.0,185,0.9946,1
15,7890,1,5.0,4916,0.9247,1
16,12781,1,130.0,159,0.9119,1
17,7904,1,164.0,27242,0.4140,3
18,10489,1,99.0,6101,0.9623,1
19,10423,1,104.0,6854,0.7848,2
20,10398,1,9.0,6823,0.6380,3
21,100,1,5.0,15386,0.3536,3
22,12628,1,13.0,168,0.8988,1
23,10642,1,40.0,6271,0.9134,1
24,12923,1,5.0,144,1.0000,1
25,7968,1,164.0,17150,0.6061,3
26,62,1,104.0,19112,0.6711,2
27,7932,1,93.0,4869,0.9745,1
28,12629,1,164.0,158,0.7405,2
29,38,1,70.0,7944,0.9612,1
...,...,...,...,...,...,...
5010,7308,7,39.0,2401,0.5710,3
5011,7649,7,97.0,1856,0.3944,3
5012,7175,7,97.0,3921,0.8373,1
5013,7323,7,76.0,1708,0.7342,2
5014,7100,7,97.0,5828,0.8353,1
5015,7277,7,97.0,2396,0.8965,1
5016,7740,7,118.0,3241,0.9426,1
5017,7288,7,153.0,2726,0.5264,3
5018,8069,7,76.0,3754,0.6260,3
5019,8065,7,76.0,4804,0.8231,2
5020,7326,7,39.0,4945,0.3693,3
5021,7714,7,39.0,3126,0.8794,1
5022,7475,7,19.0,142,0.6338,3
5023,7209,7,97.0,3641,0.7885,2
5024,11871,7,165.0,3205,0.8615,1
5025,7601,7,153.0,1557,0.8812,1
5026,7722,7,118.0,3416,0.7345,2
5027,7394,7,97.0,13637,0.6529,3
5028,7842,7,145.0,1434,0.8375,1
5029,7761,7,97.0,1842,0.6612,2
5030,7188,7,118.0,1943,0.5373,3
5031,7006,7,118.0,8573,0.6035,3
5032,7478,7,18.0,235,0.7574,2
5033,8086,7,118.0,2252,0.6665,2
5034,7485,7,97.0,9420,0.6970,2
5035,7325,7,145.0,1708,0.6663,2
5036,7784,7,39.0,6455,0.5509,3
5037,7098,7,145.0,7611,0.7743,2
5038,7236,7,76.0,2688,0.8646,1
5039,7252,7,76.0,1709,0.8104,2

# Evolutive Textbook based on difficulty

### Selection of questions equally distributed among each part & with progressive difficulty

In [225]:
def sample_sequence(df, n_quest):
  
    questions = pd.DataFrame(df.groupby(['part','content_id','difficulty'])['tag_lecture'].count()).reset_index()
    
    part_1_diff_1 = questions[(questions['part']==1) & (questions['difficulty']==1)].reset_index()
    part_1_diff_2 = questions[(questions['part']==1) & (questions['difficulty']==2)].reset_index()
    part_1_diff_3 = questions[(questions['part']==1) & (questions['difficulty']==3)].reset_index()
    part_2_diff_1 = questions[(questions['part']==2) & (questions['difficulty']==1)].reset_index()
    part_2_diff_2 = questions[(questions['part']==2) & (questions['difficulty']==2)].reset_index()
    part_2_diff_3 = questions[(questions['part']==2) & (questions['difficulty']==3)].reset_index()
    part_3_diff_1 = questions[(questions['part']==3) & (questions['difficulty']==1)].reset_index()
    part_3_diff_2 = questions[(questions['part']==3) & (questions['difficulty']==2)].reset_index()
    part_3_diff_3 = questions[(questions['part']==3) & (questions['difficulty']==3)].reset_index()
    part_4_diff_1 = questions[(questions['part']==4) & (questions['difficulty']==1)].reset_index()
    part_4_diff_2 = questions[(questions['part']==4) & (questions['difficulty']==2)].reset_index()
    part_4_diff_3 = questions[(questions['part']==4) & (questions['difficulty']==3)].reset_index()
    part_5_diff_1 = questions[(questions['part']==5) & (questions['difficulty']==1)].reset_index()
    part_5_diff_2 = questions[(questions['part']==5) & (questions['difficulty']==2)].reset_index()
    part_5_diff_3 = questions[(questions['part']==5) & (questions['difficulty']==3)].reset_index()
    part_6_diff_1 = questions[(questions['part']==6) & (questions['difficulty']==1)].reset_index()
    part_6_diff_2 = questions[(questions['part']==6) & (questions['difficulty']==2)].reset_index()
    part_6_diff_3 = questions[(questions['part']==6) & (questions['difficulty']==3)].reset_index()
    part_7_diff_1 = questions[(questions['part']==7) & (questions['difficulty']==1)].reset_index()
    part_7_diff_2 = questions[(questions['part']==7) & (questions['difficulty']==2)].reset_index()
    part_7_diff_3 = questions[(questions['part']==7) & (questions['difficulty']==3)].reset_index()
    
    i_1_1 = np.random.randint(0, len(part_1_diff_1), n_quest)
    i_1_2 = np.random.randint(0, len(part_1_diff_2), n_quest)
    i_1_3 = np.random.randint(0, len(part_1_diff_3), n_quest)
    i_2_1 = np.random.randint(0, len(part_2_diff_1), n_quest)
    i_2_2 = np.random.randint(0, len(part_2_diff_2), n_quest)
    i_2_3 = np.random.randint(0, len(part_2_diff_3), n_quest)
    i_3_1 = np.random.randint(0, len(part_3_diff_1), n_quest)
    i_3_2 = np.random.randint(0, len(part_3_diff_2), n_quest)
    i_3_3 = np.random.randint(0, len(part_3_diff_3), n_quest)
    i_4_1 = np.random.randint(0, len(part_4_diff_1), n_quest)
    i_4_2 = np.random.randint(0, len(part_4_diff_2), n_quest)
    i_4_3 = np.random.randint(0, len(part_4_diff_3), n_quest)
    i_5_1 = np.random.randint(0, len(part_5_diff_1), n_quest)
    i_5_2 = np.random.randint(0, len(part_5_diff_2), n_quest)
    i_5_3 = np.random.randint(0, len(part_5_diff_3), n_quest)
    i_6_1 = np.random.randint(0, len(part_6_diff_1), n_quest)
    i_6_2 = np.random.randint(0, len(part_6_diff_2), n_quest)
    i_6_3 = np.random.randint(0, len(part_6_diff_3), n_quest)
    i_7_1 = np.random.randint(0, len(part_7_diff_1), n_quest)
    i_7_2 = np.random.randint(0, len(part_7_diff_2), n_quest)
    i_7_3 = np.random.randint(0, len(part_7_diff_3), n_quest)
    
    sequence_part_diff_1 = []
    for i in i_1_1:
        sequence_part_diff_1.append(part_1_diff_1.loc[i, 'content_id'])
    for i in i_2_1:
        sequence_part_diff_1.append(part_2_diff_1.loc[i, 'content_id'])    
    for i in i_3_1:
        sequence_part_diff_1.append(part_3_diff_1.loc[i, 'content_id'])
    for i in i_4_1:
        sequence_part_diff_1.append(part_4_diff_1.loc[i, 'content_id'])
    for i in i_5_1:
        sequence_part_diff_1.append(part_5_diff_1.loc[i, 'content_id'])
    for i in i_6_1:
        sequence_part_diff_1.append(part_6_diff_1.loc[i, 'content_id'])
    for i in i_7_1:
        sequence_part_diff_1.append(part_7_diff_1.loc[i, 'content_id'])
       
    sequence_part_diff_2 = []
    for i in i_1_2:
        sequence_part_diff_2.append(part_1_diff_2.loc[i, 'content_id'])
    for i in i_2_2:
        sequence_part_diff_2.append(part_2_diff_2.loc[i, 'content_id'])
    for i in i_3_2:
        sequence_part_diff_2.append(part_3_diff_2.loc[i, 'content_id'])
    for i in i_4_2:
        sequence_part_diff_2.append(part_4_diff_2.loc[i, 'content_id'])
    for i in i_5_2:
        sequence_part_diff_2.append(part_5_diff_2.loc[i, 'content_id'])
    for i in i_6_2:
        sequence_part_diff_2.append(part_6_diff_2.loc[i, 'content_id'])
    for i in i_7_2:
        sequence_part_diff_2.append(part_7_diff_2.loc[i, 'content_id'])
        
    sequence_part_diff_3 = []
    for i in i_1_3:
        sequence_part_diff_3.append(part_1_diff_3.loc[i, 'content_id'])
    for i in i_2_3:
        sequence_part_diff_3.append(part_2_diff_3.loc[i, 'content_id'])
    for i in i_3_3:
        sequence_part_diff_3.append(part_3_diff_3.loc[i, 'content_id'])
    for i in i_4_3:
        sequence_part_diff_3.append(part_4_diff_3.loc[i, 'content_id'])    
    for i in i_5_3:
        sequence_part_diff_3.append(part_5_diff_3.loc[i, 'content_id'])
    for i in i_6_3:
        sequence_part_diff_3.append(part_6_diff_3.loc[i, 'content_id'])
    for i in i_7_3:
        sequence_part_diff_3.append(part_7_diff_3.loc[i, 'content_id'])

    
    return [sequence_part_diff_1,sequence_part_diff_2,sequence_part_diff_3]

In [226]:
def get_training_path(df, number_of_sequences, n_quest):
    X = []

    for i in range(number_of_sequences):
        xi = sample_sequence(df, n_quest)
        X.append(xi)
        
    X = np.array(X)
        
    return X

In [227]:
evolutive_path = get_training_path(textbook, 8, 30)

In [228]:
evolutive_path.shape

(8, 3, 210)

In [229]:
sequence_sorted = pd.DataFrame(evolutive_path.reshape(24,210).reshape(5040,))

In [230]:
sequence_sorted.columns = ['content_id']

In [231]:
sequence_sorted_merged = sequence_sorted.merge(questions, on='content_id', how='left')

In [232]:
sequence_sorted_merged

,content_id,part,tag_lecture,qstats_count,qstats_answered_correctly,difficulty
0,12852,1,93.0,158,0.9177,1
1,10578,1,5.0,5701,0.9533,1
2,12891,1,187.0,154,0.9870,1
3,73,1,93.0,7388,0.8506,1
4,10594,1,68.0,6438,0.9163,1
5,7959,1,111.0,3081,0.8734,1
6,166,1,93.0,9609,0.8731,1
7,10472,1,9.0,5854,0.9318,1
8,12891,1,187.0,154,0.9870,1
9,127,1,13.0,8478,0.9079,1
10,12798,1,149.0,165,0.8485,1
11,10446,1,149.0,5534,0.9785,1
12,7928,1,164.0,13019,0.8381,1
13,10466,1,130.0,5812,0.9326,1
14,12905,1,70.0,166,0.8554,1
15,12856,1,5.0,151,0.8411,1
16,12717,1,93.0,162,0.9136,1
17,12830,1,111.0,140,0.9143,1
18,12720,1,187.0,161,0.9876,1
19,10384,1,101.0,5620,0.9790,1
20,7884,1,187.0,12312,0.9145,1
21,10465,1,9.0,5911,0.9125,1
22,10578,1,5.0,5701,0.9533,1
23,12883,1,99.0,160,0.9250,1
24,12929,1,13.0,174,0.9425,1
25,30,1,51.0,8355,0.8943,1
26,7937,1,104.0,7960,0.8765,1
27,7928,1,164.0,13019,0.8381,1
28,12762,1,40.0,148,0.9797,1
29,7949,1,149.0,5842,0.8774,1
...,...,...,...,...,...,...
5010,7011,7,76.0,3013,0.5032,3
5011,7480,7,76.0,4874,0.3984,3
5012,7353,7,153.0,69,0.6087,3
5013,7735,7,97.0,5481,0.5165,3
5014,7502,7,97.0,6194,0.6169,3
5015,7439,7,153.0,4109,0.3887,3
5016,7029,7,97.0,1051,0.6013,3
5017,8021,7,97.0,5560,0.4475,3
5018,6951,7,118.0,2881,0.4012,3
5019,7141,7,118.0,6211,0.4220,3
5020,7242,7,97.0,2267,0.6211,3
5021,7018,7,19.0,2741,0.5432,3
5022,7587,7,76.0,1833,0.5974,3
5023,7594,7,118.0,1929,0.6433,3
5024,7262,7,97.0,7924,0.2475,3
5025,7394,7,97.0,13637,0.6529,3
5026,11693,7,39.0,2983,0.3450,3
5027,7269,7,39.0,10214,0.3733,3
5028,7770,7,97.0,8526,0.4876,3
5029,7032,7,97.0,1573,0.4393,3
5030,7326,7,39.0,4945,0.3693,3
5031,11693,7,39.0,2983,0.3450,3
5032,7006,7,118.0,8573,0.6035,3
5033,6962,7,97.0,5130,0.5827,3
5034,7481,7,97.0,4875,0.6053,3
5035,7590,7,118.0,1833,0.6181,3
5036,7196,7,118.0,67,0.6567,3
5037,7353,7,153.0,69,0.6087,3
5038,7439,7,153.0,4109,0.3887,3
5039,7190,7,76.0,7614,0.5188,3

In [238]:
sequence_random_merged.to_csv('sequence_random.csv', index=False)

In [239]:
sequence_sorted_merged.to_csv('sequence_sorted.csv', index=False)