# Tags explorations

### Questions

In [19]:
import pandas as pd
import matplotlib.pyplot as plt

In [25]:
df_questions = pd.read_csv('questions.csv')

In [26]:
df_questions.head()

   question_id  bundle_id  correct_answer  part            tags
0            0          0               0     1   51 131 162 38
1            1          1               1     1       131 36 81
2            2          2               0     1  131 101 162 92
3            3          3               0     1  131 149 162 29
4            4          4               3     1    131 5 162 38

In [13]:
def set_section(part):
    if part <= 4:
        section = 'Listening'
    else:
        section = 'Reading'
    return section

In [27]:
df_questions['section'] = df_questions['part'].apply(set_section)

In [14]:
topics_mapping = {1: 'Photographs', 2: 'Question/Response', 3: 'Conversations', 4: 'Talks', 5: 'Incomplete Sentences', 6: 'Text Completion', 7: 'Passages'}

In [28]:
df_questions['topics'] = df_questions['part'].map(topics_mapping)

In [29]:
df_questions.head()

,question_id,bundle_id,correct_answer,part,tags,section,topics
0,0,0,0,1,51 131 162 38,Listening,Photographs
1,1,1,1,1,131 36 81,Listening,Photographs
2,2,2,0,1,131 101 162 92,Listening,Photographs
3,3,3,0,1,131 149 162 29,Listening,Photographs
4,4,4,3,1,131 5 162 38,Listening,Photographs

In [64]:
df_questions['tags_split'] = df_questions['tags'].apply(lambda x: str(x).rsplit())

In [66]:
df_questions.head()

,question_id,bundle_id,correct_answer,part,tags,section,topics,tags_split
0,0,0,0,1,51 131 162 38,Listening,Photographs,"[51, 131, 162, 38]"
1,1,1,1,1,131 36 81,Listening,Photographs,"[131, 36, 81]"
2,2,2,0,1,131 101 162 92,Listening,Photographs,"[131, 101, 162, 92]"
3,3,3,0,1,131 149 162 29,Listening,Photographs,"[131, 149, 162, 29]"
4,4,4,3,1,131 5 162 38,Listening,Photographs,"[131, 5, 162, 38]"

In [71]:
question_response = [20, 32, 41, 56, 88, 100, 107, 119, 137, 138, 142, 143, 148, 163]
conversations = [74, 82, 106, 113, 136, 157, 161]
talks = [3, 12, 59, 67, 83, 103, 120, 126, 144, 150, 158, 169, 171, 183]
#passages = []

In [124]:
def tag_photographs(tags):
    photographs = [9, 70, 94, 110, 111, 131, 164, 178]
    for element in tags:
        if element in photographs:
            return element

In [125]:
df['df_questions['tags_split'].apply(tag_photographs)

0        None
1        None
2        None
3        None
4        None
5        None
6        None
7        None
8        None
9        None
10       None
11       None
12       None
13       None
14       None
15       None
16       None
17       None
18       None
19       None
20       None
21       None
22       None
23       None
24       None
25       None
26       None
27       None
28       None
29       None
         ...
13493    None
13494    None
13495    None
13496    None
13497    None
13498    None
13499    None
13500    None
13501    None
13502    None
13503    None
13504    None
13505    None
13506    None
13507    None
13508    None
13509    None
13510    None
13511    None
13512    None
13513    None
13514    None
13515    None
13516    None
13517    None
13518    None
13519    None
13520    None
13521    None
13522    None
Name: tags_split, Length: 13523, dtype: object

In [30]:
df_lectures = pd.read_csv('lectures.csv')